@import 'variables';

.enquire-page__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    padding: 50px 1rem;

    .enquire-page__top-paragraph {
        width: 100%;
        max-width: $laptop-start;
    }
}