@import 'variables';

$input-font-size: 18px;

input,
select {
    padding: .7rem .6rem;
    border: 1px solid $border-colour;
    border-radius: $border-radius;
    background-color: $background-colour;

    &[readonly],
    &[disabled] {
        background-color: $disabled-colour !important;
        color: $text-colour !important;
    }
}

input[type="submit"] {
    color: #FFFFFF;
    background-color: $primary-colour;
    font-size: $input-font-size;
    width: 100%;

    transition: background-color 150ms linear, box-shadow 150ms linear;

    &:hover:not([disabled]),
    &:active:not([disabled]) {
        cursor: pointer;
        background-color: $accent-colour;
        box-shadow: 0 3px 12px -3px $text-colour;
    }
}