$background-colour: #F2F2F2;
$secondary-colour: #DDE6ED;
$text-colour: #818181;
$border-colour: #d1d1d1;
$accent-colour: #F97B22;

$disabled-colour: #DDDDDD;

$danger-colour: #f24b2e;
$success-colour: #89D849;

$border-radius: 5px;