@import 'variables';

.nav-bar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 15%;
    max-height: 55px;

    padding: 10px 15px;

    background-color: $background-colour;

    box-shadow: 0 2px 4px 0 #ccc;

    .nav-bar__logo {
        height: 100%;

        &:hover {
            cursor: pointer;
        }
    }

    .nav-bar__nav-items {
        span {
            padding: 0 20px;
            display: inline-block;

            transition: transform 150ms linear, color 150ms linear;

            &:hover {
                transform: scale(1.1);
                cursor: pointer;
            }

            &.active-route {
                transition: transform 150ms ease-in, color 150ms linear;

                transform: scale(1.2);
                color: $accent-colour;
            }

        }

    }
}