.component-showroom__container {
    padding: 2rem;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    .component-showroom__page-title {
        text-align: center;
        margin: 0;
        padding-bottom: 2rem;
    }

    .component-showroom__item-type-container {

        display: grid;
        grid-template-columns: repeat(5, auto);
        column-gap: 20px;
        row-gap: 20px;

        width: 100%;
    }
}