<section class="component-showroom__container">
  <h1 class="component-showroom__page-title">Component Showroom</h1>
  <form class="component-showroom__item-type-container">
    <app-text-input [label]="'Basic Text Field'"
      ><input id="text-area-input-id"
    /></app-text-input>
    <app-text-input [label]="'Prefilled Text Field'"
      ><input value="test input value"
    /></app-text-input>
    <app-text-input [label]="'Readonly Text Field'"
      ><input readonly
    /></app-text-input>
    <app-text-input [label]="'Disabled Text Field'"
      ><input disabled
    /></app-text-input>
    <app-text-input
      [label]="'Validated Text Input'"
      [validationMessages]="[
        {
          error: 'pattern',
          message: 'This input must contain only lower case letters'
        },
        {
          error: 'minlength',
          message: 'This field must be longer than 8 characters'
        }
      ]"
      ><input
        name="validatedInput"
        [(ngModel)]="validatedInput"
        required
        pattern="[a-z]*"
        minlength="8"
    /></app-text-input>
    <app-text-input [label]="'Basic Text Field'"
      ><select id="text-area-input-id">
        <option></option></select
    ></app-text-input>
    <app-text-input [label]="'Prefilled Text Field'"
      ><select id="text-area-input-id">
        <option>test</option>
      </select></app-text-input
    >
    <app-text-input [label]="'Readonly Text Field'"
      ><select id="text-area-input-id" readonly>
        <option>test</option>
      </select></app-text-input
    >
    <app-text-input [label]="'Disabled Text Field'"
      ><select id="text-area-input-id" disabled>
        <option>test</option>
      </select></app-text-input
    >
    <app-text-input
      [label]="'Validated Text Input'"
      [validationMessages]="[
        {
          error: 'pattern',
          message: 'You must only select test'
        },
        {
          error: 'minlength',
          message: 'This field must be longer than 8 characters'
        }
      ]"
      ><select name="validatedSelect" [(ngModel)]="validatedSelect" required pattern="test">
        <option>test</option>
        <option>test 1</option>
      </select></app-text-input
    >
  </form>
</section>
