<section class="component-showroom__container">
  <h1 class="component-showroom__page-title">Component Showroom</h1>
  <h3>Input Fields</h3>
  <form class="component-showroom__item-type-container">
    <app-text-input [label]="'Basic Text Field'"
      ><input id="text-area-input-id"
    /></app-text-input>
    <app-text-input [label]="'Prefilled Text Field'"
      ><input value="test input value"
    /></app-text-input>
    <app-text-input [label]="'Readonly Text Field'"
      ><input readonly
    /></app-text-input>
    <app-text-input [label]="'Disabled Text Field'"
      ><input disabled
    /></app-text-input>
    <app-text-input
      [label]="'Validated Text Input'"
      [validationMessages]="[
        {
          error: 'pattern',
          message: 'This input must contain only lower case letters'
        },
        {
          error: 'minlength',
          message: 'This field must be longer than 8 characters'
        }
      ]"
      ><input
        name="validatedInput"
        [(ngModel)]="validatedInput"
        required
        pattern="[a-z]*"
        minlength="8"
    /></app-text-input>
    <app-text-input [label]="'Basic Text Field'"
      ><select id="text-area-input-id">
        <option></option></select
    ></app-text-input>
    <app-text-input [label]="'Prefilled Text Field'"
      ><select id="text-area-input-id">
        <option>test</option>
      </select></app-text-input
    >
    <app-text-input [label]="'Readonly Text Field'"
      ><select id="text-area-input-id" readonly>
        <option>test</option>
      </select></app-text-input
    >
    <app-text-input [label]="'Disabled Text Field'"
      ><select id="text-area-input-id" disabled>
        <option>test</option>
      </select></app-text-input
    >
    <app-text-input
      [label]="'Validated Text Input'"
      [validationMessages]="[
        {
          error: 'pattern',
          message: 'You must only select test'
        },
        {
          error: 'minlength',
          message: 'This field must be longer than 8 characters'
        }
      ]"
      ><select
        name="validatedSelect"
        [(ngModel)]="validatedSelect"
        required
        pattern="test"
      >
        <option>test</option>
        <option>test 1</option>
      </select></app-text-input
    >
    <app-text-input [label]="'Basic Text Field'">
      <textarea spellCheck="true" lang="en"></textarea>
    </app-text-input>
    <app-text-input [label]="'Prefilled Text Field'">
      <textarea spellCheck="true" lang="en"> prefilled value</textarea>
    </app-text-input>
    <app-text-input [label]="'Readonly Text Field'">
      <textarea readonly></textarea>
    </app-text-input>
    <app-text-input [label]="'Disabled Text Field'">
      <textarea disabled></textarea>
    </app-text-input>
    <app-text-input
      [label]="'Validated Text Input'"
      [validationMessages]="[
        {
          error: 'pattern',
          message: 'This input must contain only lower case letters'
        },
        {
          error: 'minlength',
          message: 'This field must be longer than 20 characters'
        },
        {
          error: 'maxlength',
          message: 'this field can not be longer than 40 characters'
        }
      ]"
    >
      <textarea
        name="textareavalidated"
        [(ngModel)]="validatedTextarea"
        required
        minlength="20"
        maxlength="40"
      ></textarea>
    </app-text-input>
    <input type="submit" value="Basic Button" />
    <input type="submit" value="Disabled Basic Button" disabled />
  </form>
</section>

<app-horizontal-separator></app-horizontal-separator>

<section>
  <app-enquiry-form></app-enquiry-form>
</section>

<app-horizontal-separator></app-horizontal-separator>

<section class="component-showroom__container">
  <app-range
    [label]="'Range Input'"
    [ticks]="[
      { value: 1, label: '1' },
      { value: 2, label: '2' },
      { value: 3, label: '3' },
      { value: 4, label: '4' },
      { value: 5, label: '5' }
    ]"
    [tickDirection]="'none'"
    [tickLayout]="'row'"
  >
    <input type="range" min="1" max="5" step="1" value="1" />
  </app-range>
</section>
