@import 'variables';
@import 'mixins';

$item-size-desktop: 140px;
$item-size-mobile: 110px;
$transition-time: 300ms;

.pricing-works__container {


    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    padding: 3rem 2rem;
    margin: 2rem 0;

    background: $background-colour;

    @include tablet {
        padding: 3rem 0;
    }

    .pricing-works__content-wrapper {

        display: grid;

        grid-template-columns: 1fr repeat(3, 1fr) 1fr;
        grid-template-rows: 1fr;
        column-gap: 10px;
        column-width: 250px;

        align-items: center;
        justify-items: center;

        width: 100%;

        #itemContainerOne {
            grid-column: 2;
        }

        .pricing-works__title {
            text-align: center;
            font-size: 30px;
            margin: 0;
            margin-bottom: 1rem;
            padding: 0;

            grid-column: 1 / span 5;

        }

        .pricing-works__item-container {
            width: $item-size-desktop;
            height: $item-size-desktop;

            border-radius: $item-size-desktop;

            background-color: $accent-colour;

            display: grid;
            grid-template-columns: $item-size-desktop 1fr;
            grid-template-rows: $item-size-desktop;
            align-items: center;
            justify-items: center;

            overflow: hidden;

            transition: width $transition-time linear;

            @extend .part-extend;

            &::before {
                content: '';
                width: $item-size-desktop;
                height: $item-size-desktop;
                position: absolute;
                background: $primary-colour;
                justify-self: flex-start;

                border-radius: $item-size-desktop;
                transition: box-shadow 100ms linear;


            }

            .pricing-works__item-text {

                display: flex;
                flex-direction: column;

                justify-content: center;

                color: $background-colour;
                font-size: 16px;
                z-index: 1;
                transition: transform 150ms ease-out;
                padding: 0 20px;
                text-align: center;

                transform: inherit;

                .material-symbols-rounded {
                    font-size: 35px;
                }
            }

            .pricing-works__item-paragraph {
                padding: 1rem 1.5rem;
                width: calc(60vw - $item-size-desktop);
                text-align: center;
                color: $text-colour;
                font-size: 16px;
            }


            &:hover {
                cursor: pointer;

                .pricing-works__item-text {
                    transform: scale(1.1)
                }
            }

            &.extended {
                transition: width $transition-time linear;
                width: 60vw;
                z-index: 2;

                &::before {
                    box-shadow: 3px 0 6px $text-colour;

                }

                .pricing-works__item-text {
                    transform: scale(1.1)
                }
            }

            &.part-extend {
                width: calc($item-size-desktop + 10px);

                &::before {
                    box-shadow: 3px 0 6px $text-colour;
                }
            }
        }

        @include tablet {
            grid-template-columns: 1fr;
            row-gap: 10px;



            .pricing-works__item-container {
                width: $item-size-mobile;
                height: $item-size-mobile;

                grid-template-columns: $item-size-mobile 1fr;
                grid-template-rows: $item-size-mobile;

                &::before {
                    width: $item-size-mobile;
                    height: $item-size-mobile;
                }

                .pricing-works__item-text {
                    font-size: 14px;

                    .material-symbols-rounded {
                        font-size: 25px;
                    }
                }

                .pricing-works__item-paragraph {
                    width: calc(96vw - $item-size-mobile);
                    font-size: 14px;
                    padding-right: 10px;
                    padding-left: 5px;
                }

                &.extended {
                    width: 96vw;
                    font-size: 16px;
                }
            }


            #itemContainerOne {
                grid-column: 1;
            }

            .pricing-works__title {
                grid-column: 1
            }
        }
    }
}