<div #rangeInputContainer class="range__container">
  <label [for]="id"
    ><span>{{ label }}</span
    ><span class="range__value"
      >{{ inputValue }} {{ valueMetric
      }}{{ +inputValue !== 1 ? "s" : "" }}</span
    ></label
  >
  <ng-content></ng-content>
  <datalist
    [style.writing-mode]="tickDirection"
    [class]="tickLayout"
    [id]="this.id + '_range-tick-list'"
  >
    <option
      *ngFor="let tick of ticks; let i = index"
      [value]="tick.value"
      [label]="tick.label"
    ></option>
  </datalist>
</div>
