@import 'form-styles';

:host {
    display: block;
    min-width: 0;
}

* {
    box-sizing: border-box; // required because of shadow dom encapsulation 
}

.text-input__container {

    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding-top: 4px;

    input,
    select,
    textarea {
        color: $text-colour;
        transition: box-shadow 150ms linear;

        &[required] {
            ~.text-input__label-wrapper {
                .text-input__label:after {
                    content: '*';
                    padding-left: 2px;
                    color: $danger-colour;
                    font-size: 12px;
                    position: absolute;
                }
            }
        }

        &.ng-touched:not([data-no-validation-styles]) {
            &.ng-valid {
                border: 1px solid $success-colour;
                background-color: transparentize($success-colour, .98);
            }

            &.ng-invalid {
                border: 1px solid $danger-colour;
                background-color: transparentize($danger-colour, .98);

                ~.text-input__error-symbol {
                    opacity: 1;
                }

                ~.text-input__error {
                    opacity: 1;
                }


            }

        }

        &:hover {
            cursor: pointer;
        }

        &:focus {
            outline: none;
            box-shadow: 0 1px 6px -3px $text-colour;

            ~.text-input__label-wrapper {
                @extend .retract-label
            }

        }
    }

    .text-input__label-wrapper {

        background: rgb(0, 0, 0);
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(221, 230, 237, 1) 5%, rgba(221, 230, 237, 1) 95%, rgba(0, 0, 0, 0) 100%);
        height: 0px;
        width: fit-content;
        max-width: 100%;
        padding: 0 10px;

        position: absolute;
        top: 23px;
        left: 0px;

        display: flex;
        align-items: center;
        justify-content: flex-start;

        transition: transform 150ms ease-out, height 149ms 1ms linear;

        .text-input__label {

            pointer-events: none;
            font-size: $input-font-size;
            white-space: nowrap;

            overflow: hidden;
            text-overflow: ellipsis;
            opacity: .9;

            transition: font-size 150ms ease-out, opacity 150ms ease-out;
        }

    }

    .text-input__error-symbol {
        position: absolute;
        right: 5px;
        transform: translateY(2px);
        opacity: 0;
        transition: opacity 150ms linear;
        pointer-events: none;
    }

    .text-input__error {
        position: absolute;
        top: 100%;

        font-size: 12px;
        padding-left: 5px;

        opacity: 0;

        color: $danger-colour;

        transition: opacity 150ms linear;
    }

}

.text-input__label-wrapper.retract-label {
    height: 1px;
    transform: translateY(-19px);

    label.text-input__label {
        font-size: 14px;
        opacity: 1;
    }
}