@import 'form-styles';

:host {
    display: block;
}

.text-input__container {

    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 4px;

    input {
        color: $text-colour;

        &.ng-touched,
        &.ng-dirty {
            ~.text-input__error {
                opacity: 1;
            }
        }

        &:hover {
            cursor: pointer;
        }

        &:focus {
            outline: none;

            ~.text-input__label-wrapper {
                @extend .retract-label
            }
        }
    }

    .text-input__label-wrapper {

        background: rgb(0, 0, 0);
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(221, 230, 237, 1) 20%, rgba(221, 230, 237, 1) 80%, rgba(0, 0, 0, 0) 100%);
        height: 0px;
        width: fit-content;
        max-width: 100%;

        position: absolute;
        top: 23px;
        left: 0px;

        display: flex;
        align-items: center;
        justify-content: flex-start;

        transition: transform 150ms ease-out, height 149ms 1ms linear;

        .text-input__label {

            pointer-events: none;
            font-size: 18px;
            padding: 0 20px;
            white-space: nowrap;

            overflow: hidden;
            text-overflow: ellipsis;
            opacity: .5;

            transition: font-size 150ms ease-out, opacity 150ms ease-out;
        }
    }

    .text-input__error {
        position: absolute;
        top: 100%;

        font-size: 12px;
        padding-left: 5px;

        opacity: 0;

        color: $danger-colour;

        transition: opacity 150ms linear;
    }

}

.text-input__label-wrapper.retract-label {
    height: 1px;
    transform: translateY(-19px) translateX(-10px);

    label.text-input__label {
        font-size: 14px;
        opacity: 1;
    }
}