@import 'variables';


:host {
    display: block;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.enquiry-form__container {
    display: grid;

    grid-template-columns: repeat(10, 1fr);
    column-gap: 20px;
    row-gap: 15px;

    width: 100%;
    max-width: $laptop-end;

    .enquiry-form__form-title {
        grid-column: 1 / span 10;
        text-align: center;
    }

    .enquiry-form__year-group {
        grid-column: 1 / span 5;
    }

    .enquiry-form__in-person-online {
        grid-column: 6 / span 5;
    }

    .enquiry-form__subject {
        grid-column: 1 / span 5;
    }

    .enquiry-form__subject-level {
        grid-column: 6 / span 5;
    }

    .enquiry-form__horizontal-separator {
        grid-column: 2 / span 8;
        margin: 20px 0;
    }

    .enquiry-form__title {
        grid-column: 1 / span 1;
    }

    .enquiry-form__forename {
        grid-column: 2 / span 3;
    }

    .enquiry-form__surname {
        grid-column: 5 / span 3;
    }

    .enquiry-form__postcode {
        grid-column: 8 / span 3;
    }

    .enquiry-form__phone {
        grid-column: 3 / span 3;
    }

    .enquiry-form__email {
        grid-column: 6 / span 3;
    }

    .enquiry-form__submit {
        grid-column: 4 / span 4;
    }
}